$mypink: #b22e61;
$myblack: #212529;

.home-plt{
    display: flex;
    flex-direction: row;
    height: 35rem;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    background-color: #ec428c17;
    .plt-1{
        width: 40rem;
    }
    .plt-2{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        row-gap: 1rem;
        img{
            width: 35rem;
        }
        .button-6{
            border: 1px solid $mypink;
            width: 8rem;
            padding: .5rem;
            border-radius: .5rem;
            &:hover{
                background-color: $mypink;
                color: white;
            }
        }
    }
}

