$mypink: #b22e61;

.nav-main{
    border: 1px solid $mypink;
    display: flex;
    justify-content: center;
    column-gap: 15rem;
    background: url("../../assets/line.svg");
    .nav-logo{
        width: 9rem;

    }
    .nav-list{
        display: flex;
        align-items: center;
        column-gap: 1rem;
        a{
            font-weight:700;
            color: $mypink;
            font-size: .9rem;
            transition: background-color .5s ease , color .5s ease;
            &:hover{
                color: black;
            }
        }
        .nav-list-3,.nav-list-4{
            border: 1px solid $mypink;
            padding: .5rem;
            border-radius: 3rem;
        }

        .nav-list-3:hover .submenu,
        .nav-list-3 .submenu:hover {
            display: block;
        }
        
        .submenu{
            z-index: 2;
            position: absolute;
            // border: 1px solid black;
            color: $mypink;
            font-weight: 600;
            display: none;
            margin-left: -17rem;
            border-radius: 2rem;
            top: 3.8rem;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            
            .inner-submenu{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 47rem;
                justify-content: space-between;
                padding: 1rem;
                background-color: white;


                .dropdown{
                    width: 15rem;
                    label{
                        font-weight: 700;
                        font-size: .9rem;
                        a{
                            color: $mypink;
                            font-weight: 700;
                        }
                    }
                    a{
                        color: grey;
                        font-weight: 300;
                        &:hover{
                            color: $mypink;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        
    }
}


