.rape-hero {
  position: relative;
  background-color: #f8f9fa !important;
}

.rape-hero .hero-bg {
  width: 100%;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.rape-hero .heading {
  position: absolute;
  top: 10rem;
  left: 10rem;
}

.rape-hero .heading h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #b22e61;
}

#panel1-header {
  font-size: 1.1rem;
  font-weight: 500;
}

.imp-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.imp-points .imp-border {
  border: 1px solid #b22e61;
  padding: 2rem;
}

.imp-points h1 {
  font-size: 2rem;
  text-align: center;
  color: #b22e61;
  margin-bottom: 1rem;
}

.imp-points .points {
  width: 60rem;
}

.imp-points .points li {
  font-size: 1.2rem;
  color: gray;
}

.accordian {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.2rem;
}

.consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.head {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: #b22e61;
  margin-left: 7rem;
  display: block;
}

.punishment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.home-plt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  background-color: #ec428c17;
}

.home-plt .plt-1 {
  width: 40rem;
}

.home-plt .plt-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  row-gap: 1rem;
}

.home-plt .plt-2 img {
  width: 25rem;
}

.home-plt .plt-2 .button-6 {
  border: 1px solid #b22e61;
  width: 8rem;
  padding: .5rem;
  border-radius: .5rem;
}

.home-plt .plt-2 .button-6:hover {
  background-color: #b22e61;
  color: white;
}
/*# sourceMappingURL=Rape.css.map */